<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Vue.js</title>
</head>

<body>
    <div id="app">
        <p v-if="godzina < 12">Cześć {{imie}}, Rano</p>
        <p v-else="godzina >= 12 && godzina < 18">Cześć {{imie}}, popoludnie</p>
        <p v-if="godzina >= 18">Cześć {{imie}}, Wieczor</p>
        <!-- zmienne rano popołudnie i wieczor bedą wyświetlane w zależności od aktualnej godziny serwera
        v-if="zmienna" nazywamy dyrektywami warunkowymi -->
        <!-- Warunki można dawać w tagach p jak widać -->
    </div>
    <!-- importujemy vue ze strony unpkg.com -->
    <script src="http://unpkg.com/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                imie: "Marta",
                godzina: new Date().getHours()
            }
        });
    </script>
</body>

</html>